body {
  background-color: lightgray;
}

.nav-main {
  cursor: pointer;
  width: 250px;
}

.nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0.1px;
    width: 250px;
    background-color: lightgray;
    visibility: hidden;
  }
  
  .nav-main ul li {
    display: block;
    height: 50px;
    margin: 2px;
    padding-left: 5px;
    line-height: 50px;
  }

  input[type="radio"] {
    transform: scale(1.5);
    margin-left: 30px;
  }

  .grey-bg {
    background-color: lightgray;
  }

  .red-bg {
    background-color: red;
  }

  .orange-bg{
    background-color: orange
  }

  .purple-bg {
    background-color: purple
  }

  .green-bg {
    background-color: green;
  }